<main>
    <div class="hero-image"></div>
    <div class="content">
        <h1>
            <div class="wave">👋</div>
            Hello, I am First Lastname
        </h1>
        <p class="body-text">
            I am a Product Designer with 5+ years experience, focusing in User Interface and User
            Experience. I enjoy traveling and enjoying a good taco.
        </p>
        <p class="link">
            <a href="mailto:example@example.com">example{{'@'}}example.com</a>
        </p>
        <hr>
        <p class="bottom-text">
            Connect with me on <a href="">LinkedIn</a>, view my work on <a href="">Behance</a>, see my cat photos on <a
                href="">Instagram</a>
        </p>
    </div>
</main>